
body {
    font-family: 'Roboto', sans-serif; /* Default font family */
    background-color: #f4ede9;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
    font-family: 'Irish Grover', cursive; /* Custom font for heading */
}

h2 {
    font-family: 'Rubik Doodle Shadow', cursive;
}

.menu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.coffee-box {
    width: 250px;
    margin: 20px;
    padding: 15px;
    border: 2px solid #333;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(240, 224, 209);
    transition: transform 0.3s ease-in-out;
    font-family: 'Rubik Doodle Shadow', sans-serif; /* Custom font for coffee boxes */
}

.coffee-box:hover {
    transform: scale(1.05);
}

.coffee-image-box {
    margin-bottom: 10px;
}

.coffee-image {
    max-width: 100%;
    max-height: 150px;
    border-radius: 10px;
}

.coffee-button {
    cursor: pointer;
    color: #333;
    border: none;
    padding: 16px 32px; /* Adjusted padding for larger buttons */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px; /* Adjusted font size for larger buttons */
    border-radius: 5px;
    background: linear-gradient(to right, transparent 50%, #c49e7a 50%);
    background-size: 200% 100%;
    transition: background-position 0.8s ease-in-out, color 0.5s ease-in-out;
    font-family: 'Rubik Doodle Shadow', sans-serif; /* Adding font family */
}

.coffee-button:hover {
    background-position: -100% 0;
    color: white;
}

.coffee-details {
    display: none;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.coffee-details p {
    margin: 5px 0;
    color: #333;
}
